/*
Typography
*/

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    color: #004d4d;
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-weight: 400;
    color: #33cccc;
    border: none;
    text-transform: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #004d4d;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

a {
    color: #33cccc;
}
a:active,
a:hover,
a:focus {
    color: #33cccc;
    text-decoration: underline;
}

/* 
Button and inputs 
*/

.btn {
    border-radius: 0;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1rem;
    text-align: left;
    padding: 11px;
    height: auto;
}

.btn-primary {
	margin: 5px 0px 5px 0px;
    background: #33cccc;
    color: #ccffff;
    border-color: transparent;
}

.btn:hover,
.btn:focus,
.btn:active{
    background: #ff5050;
    color: #ffe6e6;
    border-color: transparent;
}

.navbarbtn{
	margin: 0px 5px 0px 5px;
	border: 0px;
}

input {
    margin-top: 7px;
    background: #ffe6e6;
    color: #ff5050;
    border: 1px solid #33cccc;
}
input:hover,
input:focus,
input:active{
    border-color: #33cccc;
}

label {
    color: #004d4d;
    line-height: 1;
    text-align: left;
    display: inline-block;
}
.navelement{
	margin-top: 0px;
}

/*
Dropdown menus
*/

.form-control{
    border-radius: 0;
    border-color: #33cccc;
    height: auto;
    max-height: none;
}

/*
Table
*/

table.tablesorter thead tr th {
    background-image: url(https://www.kela.fi/kelafi-theme/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.table td{
	padding: 0px;
}
