<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- Meta tags -->
      <meta charset = "utf-8">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
      
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
      <title>Feedback Form</title>
   </head>
   
   <body>
      <div class = "container">       
         <form id="feedbackform" action="#" method="post" th:action="@{save}" th:object="${feedback}">
            <h2 class = "mt-4" th:text="#{give.feedback}"></h2>
            <hr/>
            
            <!-- Form levels error messages here -->
			<div class = "form-group row ">
			  	<div class="col-sm-8">
					<span class="text-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"> </span>      
			  	</div>
			</div>
			
			<!-- Form rows -->
			
			<div id="from-rows">
			
			<!-- Language -->
			<div class = "form-group row">
				<label for = "language" class = "col-sm-2 col-form-label"><span th:text="#{lang.change}"></span></label>
				<div class = "col-sm-4">
				<select class="form-control" th:field="*{language}" id="locales" value="">
					<option th:value="${param.lang}"></option>
					<option id="fi" value="fi" th:text="#{lang.fi}"></option>
					<option id="en" value="en" th:text="#{lang.eng}"></option>
				</select>
				</div>
			</div>

             <!-- Feedback Type -->
             <div class = "form-group row">
            	<label for = "feedback_type" class = "col-sm-2 col-form-label"><span th:text="#{feedback.type}"></span></label>
            	<div class = "col-sm-4">
               		   <select class="form-control" th:field="*{feedback_type}" id="feedback_type" value="">
				        <option value="Kehu" th:text="#{type.praise}"></option>
				        <option value="Moite" th:text="#{type.remark}"></option>
				        <option value="Kehitysidea" th:text="#{type.suggestion}"></option>
				      </select>
               </div>
             </div>

             <!-- Feedback Giver Type -->
             <div class = "form-group row">
            	<label for="feedback_giver_type" class="col-sm-2 col-form-label"><span th:text="#{feedback.giver.type}"></span></label>
            	<div class = "col-sm-4">
               		   <select class="form-control" th:field="*{feedback_giver_type}" id="feedback_giver_type" value="">
				        <option value="Asiakas" th:text="#{giver.type.customer}"></option>
				        <option value="Yhteistyökumppani" th:text="#{giver.type.partner}"></option>
				      </select>
               </div>
             </div>

             <!-- Feedback Topic -->
             <div class = "form-group row">
            	<label for="feedback_topic" class="col-sm-2 col-form-label"><span th:text="#{feedback.topic}"></span></label>
            	<div class = "col-sm-4">
               		   <select class="dropdown form-control" th:field="*{feedback_topic}" id="feedback_topic" value="">
				        <option value="Palveluja" th:text="#{topic.services}"></option>
				        <option value="Toimintaa" th:text="#{topic.operations}"></option>
				      </select>
               </div>
             </div>
            
            <!-- Textbox -->
            <div class = "form-group row">
            	<label for = "comments" class = "col-sm-2 col-form-label"><span th:text="#{feedback.text}"></span></label>
            	<div class = "col-sm-4">
               		<textarea th:field="*{feedback_text}" class = "form-control" rows = "3" placeholder = "Max. 4000 chars" required></textarea>
               </div>
             </div>
             
             <!-- Wants contact true/false -->
             <div class = "form-group row">
             	<label for="wants_contact" class="col-sm-2 col-form-label"><span th:text="#{wants.contact}"></span></label>
             	<div class = "col-sm-4">
             		<input type="checkbox" id="wants_contact" name="wants_contact">
             	</div>
              </div>
              
              <!-- Hidden container unless contacted checkbox is checked -->
				  <div id="contact-info" style="display:none;">
	  				  
		             <div class = "form-group row">
		            	<label class="col-sm-2 col-form-label" for="firstname"><span th:text="#{contact.firstname}"></span></label>
		            	<div class = "col-sm-4">
		               		<input type="text" name="contact_firstname" id="contact_firstname" class="form-control newInput required">
		               </div>
		             </div>
		             
   		             <div class = "form-group row">
		            	<label class="col-sm-2 col-form-label" for="lastname"><span th:text="#{contact.lastname}"></span></label>
		            	<div class = "col-sm-4">
		               		<input type="text" name="contact_lastname" id="contact_lastname" class="form-control newInput required">
		               </div>
		             </div>
		             
		             <div class = "form-group row">
		            	<label class="col-sm-2 col-form-label" for="email"><span th:text="#{contact.email}"></span></label>
		            	<div class = "col-sm-4">
		               		<input type="email" name="contact_email" id="contact_email" class="form-control newInput required">
		               </div>
		             </div>
		             
					<div class = "form-group row">
		            	<label class="col-sm-2 col-form-label" for="mobile"><span th:text="#{contact.mobile}"></span></label>
		            	<div class = "col-sm-4">
		               		<input type="text" name="contact_mobile" id="contact_mobile" class="form-control newInput required">
		               </div>
		             </div>
			 </div>
                          
             <!-- Hidden fields -->
             <label for = "comments" class = "col-sm-2 col-form-label"></label>
             <input type="hidden" id="date" th:field="*{feedback_date}" value="">
             
             <label for="feedback_status" class="col-sm-2 col-form-label"></label>
             <input type="hidden" name="feedback_status" value="Uusi"/>
			
			</div>
			<!-- Submit button -->
            <div class = "form-group row">
               <div class = "col-sm-10">
                  <button type = "submit" class = "btn btn-primary" th:text="#{submit.button}"></button>
               </div>
            </div>
         </form>
         
      </div>
      <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" > </script>
      <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" > </script>
      
      <script>
      //Get and modify current date
      function setDate(){
    	  var MyDate = new Date();
    	  var MyDateString = "";
    	  MyDateString = ('0' + MyDate.getDate()).slice(-2) + '.'
          + ('0' + (MyDate.getMonth()+1)).slice(-2) + '.'
          + MyDate.getFullYear();
    	  
          document.getElementById("date").value = MyDateString;
          console.log(MyDateString);
          }
      setDate();
      
		$(document).ready(function(){
		  //Toggle contact details and form validation
		  $('#wants_contact').change(function(){
		      if($(this).is(':checked'))
		      {
		    	$('#contact-info').show();
				$('#contact_firstname').prop('required', true);
				$('#contact_lastname').prop('required', true);	
				$('#contact_email').prop('required', true);	
				$('#contact_mobile').prop('required', true);
		    	// show form
		      }
		      else
		      {
		      	$('#contact-info').hide();
				$('#contact_firstname').prop('required', false);
				$('#contact_lastname').prop('required', false);	
				$('#contact_email').prop('required', false);	
				$('#contact_mobile').prop('required', false);
		      }
		  });
		  
		  // Add lang parameter to the url based on language selection
		  $("#locales").change(function () {
		        var selectedOption = $('#locales').val();
		        if (selectedOption != ''){
		            window.location.replace('add?lang=' + selectedOption);
		        }
		   });
		
		});
      
      </script>
   </body>
</html>
